<div class="d-grid gap-2">
    <button type="submit" class="btn btn-primary ">Cadastrar Contato</button>
    <a class="btn btn-secondary" asp-controller="Contato" asp-action="Index" role="button">Voltar</a>
</div>
