@{
    ViewData["Title"] = "Listagem de Contatos";
}

<h1>Listagem de Contatos</h1>
<div class="d-grid gap-2 d-md-flex justify-content-md-start">
    <a class="btn btn-primary" asp-controller="Contato" asp-action="Criar" role="button">Adicionar novo contato</a>
</div>

